body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

.s-h-one {
    color: #fff;
    font-size: 56px;
    letter-spacing: 1.12px;
    line-height: 1.07;
    text-align: center;
}

.s-h-two {
    font-size: 36px;
    letter-spacing: .72px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
}

.s-h-three {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: .4px;
}

.paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .32px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}





/* Logo WebStudio */
.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: .54px;
    color: #4D5AE5;
}

.top-logo {
    color: #2E2F42;
}




/* Header Top menu */
.htmnl-a {
    line-height: 1.5;
    letter-spacing: .32px;
    font-weight: 500;
    color: #2e2f42;
}

.htm-address {
    font-style: normal;
}

.htmal-a {
    line-height: 1.5;
    letter-spacing: .32px;
    color: #434455;
}

.htmnl-a:hover,
.htmal-a:hover,
.htmnl-a:focus,
.htmal-a:focus {
    color: #404BBF;
}




/* Section Title */
.s-title {
    background-color: #2E2F42;
}

.st-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .64px;
    color: #fff;
    background-color: #4D5AE5;
    letter-spacing: .64px;
    cursor: pointer;
}

.st-btn:hover,
.st-btn:focus {
    background-color: #404BBF;
}




/* Section Organization */




/* Section Our Team  */
.s-our-team {
    background-color: #F4F4FD;
}

.sotl-element {
    background-color: #fff;
}




/* Section Our portfolio */





/* footer */
.f-other-info {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.bottom-span {
    color: #F4F4FD;
}